p {
  color: color(display-p3 1 1 1);
}

.custom-article-header {
  background-color: hwb(50deg 0% 0%);
  container-type: inline-size;
  h2,
  p {
    color: color(display-p3 0.133 0.133 0.133) !important;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  p {
    font-weight: 600;
  }
}

.custom-article-text1 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  border-bottom: 1px solid color(display-p3 1 1 1);
  blockquote {
    font-size: 2.3rem;
    margin: 0;
  }
}

.custom-article-text2 {
  p {
    font-size: 1.3rem;
  }
}

.custom-article-subtitle {
  color: color(display-p3 1 1 1);
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 1.5rem;
}

.article-list {
  padding: 0;
  gap: 1rem;
  .article-item {
    padding-bottom: 0.5rem;
    p {
      font-size: 1.3rem;
    }
  }
}

.article-img-container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .figure-caption {
    color: color(display-p3 1 1 1);
    font-size: 1.2rem;
  }
}

@container (min-width: 600px) {
  .custom-article-header h2 {
    font-size: 3.5rem;
  }

  .custom-article-header p {
    font-size: 1.5rem;
  }

  .custom-article-text1 {
    flex-direction: row;
  }

  .custom-article-text2 p {
    font-size: 1.5rem;
  }

  .custom-article-subtitle {
    font-size: 2.8rem;
  }
}

@container (min-width: 900px) {
  .custom-article-header h2 {
    font-size: 4rem;
  }

  .custom-article-header p {
    font-size: 1.8rem;
  }

  .custom-article-text1 {
    flex-direction: row;
  }

  .custom-article-text2 p {
    font-size: 1.6rem;
  }

  .custom-article-subtitle {
    font-size: 3rem;
  }

  .article-list .article-item p {
    font-size: 1.4rem;
  }
}
