p {
  color: #fff;
}

.custom-article-header {
  background-color: hwb(50deg 0% 0%);
  h2,
  p {
    color: color(display-p3 0.133 0.133 0.133) !important;
  }
  h2 {
    font-size: 3rem;
    font-weight: 800;
  }
  p {
    font-weight: 600;
  }
}

.custom-article-text1 {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fff;
  blockquote {
    font-size: 2.3rem;
    margin: 0;
  }
  .custom-article-text2 {
    p {
      font-size: 1.3rem;
    }
  }
}

.custom-article-subtitle {
  color: #fff;
  text-align: center;
  font-size: 2.3rem;
}

.article-list {
  padding: 2rem 0;
  gap: 1rem;
  .article-item {
    padding-bottom: 0.5rem;
    p {
      font-size: 1.3rem;
    }
  }
}
