* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  height: 100vh;
  margin: 0;
  padding: 0;
  .container-fluid {
    margin: 0;
    padding: 0;
    container-type: inline-size;
    .custom-grid-item {
      margin: 2rem auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
      h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
      }
      p {
        font-family: $font-family;
        color: color(display-p3 1 1 1);
        font-size: $font-size;
      }
    }
  }
}

@container (min-width: 600px) {
  .custom-grid-item {
    grid-template-columns: 1fr 1fr;
  }

  .custom-grid-item h2 {
    font-size: 3.5rem;
  }

  .custom-grid-item p {
    font-size: 1.2rem;
  }
}

@container (min-width: 900px) {
  .custom-grid-item {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .custom-grid-item h2 {
    font-size: 4rem;
  }

  .custom-grid-item p {
    font-size: 1.3rem;
  }
}

@supports (display: grid) {
  .container-fluid {
    .custom-grid-item {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@supports (display: grid) {
  .container-fluid {
    .custom-grid-item {
      grid-template-columns: 1fr 1fr;
    }
  }
}
