* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  height: 100vh;
  margin: 0;
  padding: 0;
  .container-fluid {
    margin: 0;
    padding: 0;
    .custom-grid-item {
      margin: 2rem auto;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
      h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
      }
      p {
        font-family: $font-family;
        color: color(display-p3 1 1 1);
        font-size: $font-size;
      }
    }
  }
}

@supports (display: grid) {
  .container-fluid {
    .custom-grid-item {
      grid-template-columns: 1fr 1fr;
    }
  }
}
