.custom-speakers-container {
  padding: 1rem;

  .speaker-item {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .speaker-img {
      width: 50%;
    }
    h3 {
      color: #ffff;
      padding-top: 2rem;
    }
    .speaker-text {
      font-size: 1rem;
      text-align: center;
      padding: 0 1rem;
    }
  }
}
