<footer class="footer text-white xl-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center text-md-start">
        <a class="navbar-brand" href="index.html">
          <img src="./assets/images/logo.png" alt="Logo" class="d-inline-block align-text-top"
            style="max-width: 150px;">
        </a>
      </div>
      <div class="col-12 col-md-6 text-center text-md-end">
        <div class="sm-icons">
          <i class="fa-brands fa-instagram me-5"></i>
          <i class="fa-brands fa-facebook-f me-5"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>
    </div>
  </div>
</footer>