@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$font-family: "Montserrat", sans-serif;
$font-size: 22px;
$background-color: color(display-p3 0.133 0.133 0.133);
$theme-colors: (
  "primary": hwb(50deg 0% 0%),
);
$primary-color: hwb(50deg 0% 0%);

$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$muted: color(display-p3 1 1 1);
